@font-face {font-family: "index-icon";
  src: url('./index.ttf') format('truetype');
}

.index-icon {
  font-family: "index-icon" !important;
  font-size: 28px;

}

.index-icon-shouye:before {
  content: "\e50c";
}

